.container__experience {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
                
    }
    
    .container__experience > div {
        background:rgba(255, 255, 255, 0.2) ;
        padding: 2rem 5rem;
        border-radius: 2rem;
        border: 1px solid transparent;
        transition: all 400ms ease;
    
    }
    
    .container__experience > div:hover {
        background: transparent;
        border-color: rgba(77,181,255,0.4);
        cursor:pointer;
    }
    
    .container__experience > div h3, h2{
        text-align: center;
        margin-bottom: 2rem;
        color: #FFFF00;
    }

    
    .experience__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap:2rem;
        
    }
    .experience__details {
        display:flex;
        gap:2rem;
    }
    .experience__details-icon {
        margin-top: 6px;
        color: #FFFF00;
    
    }
    
    /*=================MEDIA QUERIES(MEDIUM DEVICES)=====*/
    
    @media screen and (max-width:1024px) {
        .container__experience {
            grid-template-rows: 1fr;
         }
         .container__experience > div{
            width:100%;
            padding:2rem;
            margin: 0 auto;
         }
         .experience__content {
            padding: 1rem;
         }
     }
     
     /*=================MEDIA QUERIES(SMALL DEVICES)=====*/
     @media screen and (max-width:600px) {
         .container__experience {
            gap:1rem;
    
         }
         .container__experience > div {
            width:100%;
            padding:2rem 1rem;
         }
     }
     
     
     
     